

<div class="">
    <div class="col-sm-6">
        <h1> <b>Events</b> by <%= @user.name%></h1>
        <hr>
        <% @user.events.each do |event| %>
            <% if event.date > Time.now %>
            <p>Title: <%= event.title %></p>
            <hr>
        <% end %>
        <% end %>
    </div>

    <div class="col-sm-6">
        <h1>Attended <b>Events</b></h1>
        <hr>
        <% @user.events.each do |event| %>
            <% if event.date < Time.now %>
                <p>Title: <%= event.title %></p>
                <hr>
            <% end %>
        <% end %>
    </div>
    
</div>

