<h1>Events List</h1>

<div class="">
    <% @events.each do |event| %>
        <p>Title: <%= link_to event.title, event_path(event) %></p>
        <p>Created by: <%= event.creator.name %></p>
        <hr>
    <% end %>
</div>
